---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@0.0.3
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: "lint-unit"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "amazonlinux-2"
          - "debian-9"
          - "debian-10"
          - "centos-7"
          - "centos-8"
          - "centos-stream-8"
          - "fedora-latest"
          - "ubuntu-1604"
          - "ubuntu-1804"
          - "ubuntu-2004"
          - "opensuse-leap-15"
        suite:
          - "default"
          - "esl"
          - "source"
        exclude:
          - os: amazonlinux-2
            suite: esl
          - os: fedora-latest
            suite: esl
          - os: opensuse-leap-15
            suite: esl
          - os: ubuntu-2004
            suite: esl
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Chef
        uses: actionshub/chef-install@2.0.4
      - name: Dokken
        uses: actionshub/test-kitchen@2.1.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
      - name: Print debug output on failure
        if: failure()
        run: |
          set -x
          sudo journalctl -l --since today
          KITCHEN_LOCAL_YAML=kitchen.dokken.yml /usr/bin/kitchen exec ${{ matrix.suite }}-${{ matrix.os }} -c "journalctl -l"
